<p>
  Choose Excercise range:
  <select [(ngModel)]="size">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
</p>
<p>
  Choose Time:
  <select [(ngModel)]="speed">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
</p>
<p>
  Number of questions:
  <select [(ngModel)]="questions">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
</p>
<h1>*** {{size}} ***</h1>
<p>{{ speed }} / {{ reminder + 1 }} </p>
<button (click)="start()">Go</button>


<div [hidden]="x === null">
  Question is {{ x }} * {{ y }} = <input type="number" #myAnswer (keyup)=guess() [(ngModel)]="answer">

</div>

<div>
  <ul style="display: flex; flex-direction: column-reverse;">
  @for (item of numbers; track item ) {
    @if(item.answered) {
    <li>{{ item.x }} * {{ item.y }} {{ item.correct }} ++</li>
    }
  }
</ul>
</div>